*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
    height: 14vh;
    /* background-color: aqua; */
}
.box{
    width: 58%;
    height: 250px;
    /* background-color: aquamarine; */
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    display: flex;
}
.image{
    width: 23%;
    height:220px;
    /* background-color: black; */
    margin-top: 10px;
    margin-left: 8px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}
.image>img{
    width: 100%;
    height: 220px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}
.text{
    width: 69%;
    height: 235px;
    /* background-color: aquamarine; */
    margin-left: 5px;
    margin-top: 7px;
}
.text1{
    width: 50%;
    height: 40px;
    /* background-color: blue; */
    margin-top:5px;
    margin-left: 5px;
}
.text1>h1{
    width: 100%;
    height: 40px;
    font-weight:900;
    font-size: 22px;
}
.text2{
width: 90%;
height: 40px;
/* background-color: gray; */
margin-top: 27px;
margin-left: 5px;
}
.text2>h3{
    width: 100%;
    height: 40px;
    font-weight:bold;
    font-size: 14px;
    
}
.offer{
    width: 30%;
    height: 33px;
    background-color: orange;
    border: 1px solid gainsboro;
    border-radius: 20px;
    margin-left: 5px;
}
.offer>h2{
    width: 100%;
    height: 31px;
    font-weight:bold;
    font-size: 16px;
    color: white;
    text-align: center;
    margin-top: 5px;
}
.rs{
    width: 60%;
    height: 30px;
    /* background-color: aqua; */
    margin-left: 5px;
    margin-top: 5px;
    display: flex;
}
.rs1{
    width: 30%;
    height: 20px;
    /* background-color: azure; */
    margin-left: 5px;
}
.rs1>h2{
    width: 100%;
    height: 33px;
    font-weight:bold;
    font-size: 16px;

}
.rs2{
    width: 10%;
    height: 20px;
    /* background-color: rgb(59, 79, 79); */
    margin-left: -30px;
}
.rs2>h2 {
    width: 100%;
    height: 33px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: line-through;
    color: grey;

}
.but{
    width:70% ;
    height: 40px;
    /* background-color: aqua; */
    display: flex;
}
.but1{
    width: 35%;
    height: 35px;
   border-radius: 8px;
    margin-left: 5px;
    border: 2px solid black;
    background-color: black;
    /* margin-bottom: 20px; */
}
.but1>h2{
    width: 100%;
    height: 35px;
    color: white;
    font-weight:700;
    font-size: 14px;
text-align: center;
justify-content: center;
margin-top: 5px;
}
.but2 {
    width: 35%;
    height: 35px;
    border-radius: 8px;
    margin-left: 5px;
    border: 2px solid black;
    /* background-color: black; */
    /* margin-bottom: 20px; */
}
.but2>h2 {
    width: 100%;
    height: 35px;
    color: black;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
}
@media screen and (max-width:500px) {
    .box{
        width: 100%;
    }
    
}